<!DOCTYPE html>
<html>
<head>
    <title>RIFT 2026 Money Muling Detection Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
</head>
<body>

<header>
    <h1>Graph-Based Money Muling Detection Engine</h1>
    <p>Financial Forensics Powered by Graph Theory</p>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
